/* Default reset */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: gainsboro;
    overflow: scroll;
    border-right: 1px solid grey;
}

.sidebar > img {
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    height: calc(100vh - 30px);
    background-color: gainsboro;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.details {
    padding: 5px;
    height: 30px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
}

.details > p {
    font-size: 16px;    
    font-weight: 700;
    background-color: gainsboro;
}   